@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;700&display=swap');

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-orange: hsl(26, 100%, 55%);
    --primary-pale-orange: hsl(25, 100%, 94%);
    --very-dark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --black-light: hsl(0, 0%, 0%,.75);

}
body{
    font-family: 'Kumbh Sans', sans-serif;
}
a{
    text-decoration: none;
}
.container{
    width: 100%;
}

.header{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    font-size: 1rem;
}
.header-icons{
    color: var(--dark-grayish-blue);
    align-self: flex-end;
}
.header h1{
    font-weight: 700;
}
.header-left{
    display: flex;
    gap: 1rem;
}
.header-right{
    display: flex;
    gap: 1rem;
}
.nav{
    display: flex;
    list-style: none;
    gap: 1rem;
}
.nav-wrapper {
    display: none;
    align-items: center;
}
.nav-link{
    color: var(--grayish-blue);
}
.profile{
    width: 2rem;
    height: 2rem;
}
.profile img{
    width: 100%;
    
}

@media (min-width: 1000px) {

     .nav-wrapper {
        display: flex;
        align-items: center;
    }
}